/* body {
  background-color: navy;
}

.bg-navy {
  background-color: navy !important;
}

.text-white {
  color: white !important;
}
//#014142 
.app-wrapper {
  min-height: 100vh;
  padding: 1rem;
} */
 .bg-navy {
  background-color: #014142   !important;
}

